<div class="rectangle1"></div>
<div class="rectangle9"></div>
<div class="signUp">Sign up</div>
<button class="signInButton"><div class="signInButton__signUp2">Sign Up</div></button>
<div class="allDetails">
  <div class="allDetails__unlockYourPotentialStartYourJo">
    <p class="allDetails__unlockYourPotentialStartYourJo__labelWrapper">
      <span class="allDetails__unlockYourPotentialStartYourJo__labelWrapper__label">
        Unlock Your Potential, Start Your
      </span>
      <span class="allDetails__unlockYourPotentialStartYourJo__labelWrapper__label2"></span>
      <span class="allDetails__unlockYourPotentialStartYourJo__labelWrapper__label3">Journey Today!</span>
    </p>
  </div>
  <div class="allDetails__termsConditions">
    <cl-check-boxclick-click-2></cl-check-boxclick-click-2>
    <div class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ">
      <p class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__labelWrapper2">
        <span class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__labelWrapper2__label4">
          I’ve read and agree with
        </span>
        <span class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__labelWrapper2__label5">
          Terms of Service
        </span>
        <span class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__labelWrapper2__label6">and our</span>
      </p>
      <div class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__textBlock">
        <p class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__textBlock__labelWrapper3">
          <span class="allDetails__termsConditions__iVeReadAndAgreeWithTermsOfServ__textBlock__labelWrapper3__label7">
            Privacy Policy
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="allDetails__personalInfo">
    <div class="allDetails__personalInfo__name">
      <div class="allDetails__personalInfo__name__emailDetails">
        <img src="assets/email-details-icon.svg" alt="" class="allDetails__personalInfo__name__emailDetails__icon" />
      </div>
      <div class="allDetails__personalInfo__name__name2">Name</div>
      <div class="allDetails__personalInfo__name__enterEmail">
        <div class="allDetails__personalInfo__name__enterEmail__iDIKUDAKARTHIK">IDIKUDA KARTHIK</div>
      </div>
    </div>
    <div class="allDetails__personalInfo__name3">
      <div class="allDetails__personalInfo__name3__emailDetails2">
        <img
          src="assets/email-details-icon2.svg"
          alt=""
          class="allDetails__personalInfo__name3__emailDetails2__icon2"
        />
      </div>
      <div class="allDetails__personalInfo__name3__lastName">Last name</div>
      <div class="allDetails__personalInfo__name3__enterEmail2">
        <div class="allDetails__personalInfo__name3__enterEmail2__pANDU">PANDU</div>
      </div>
    </div>
    <div class="allDetails__personalInfo__name4">
      <div class="allDetails__personalInfo__name4__emailDetails3">
        <img
          src="assets/email-details-icon3.svg"
          alt=""
          class="allDetails__personalInfo__name4__emailDetails3__icon3"
        />
      </div>
      <div class="allDetails__personalInfo__name4__emailId">Email id</div>
      <div class="allDetails__personalInfo__name4__enterEmail3">
        <div class="allDetails__personalInfo__name4__enterEmail3__idikudakarthikGmailCom">Idikudakarthik@gmail.com</div>
      </div>
    </div>
    <div class="allDetails__personalInfo__name5">
      <div class="allDetails__personalInfo__name5__emailDetails4">
        <img
          src="assets/email-details-icon4.svg"
          alt=""
          class="allDetails__personalInfo__name5__emailDetails4__icon4"
        />
      </div>
      <div class="allDetails__personalInfo__name5__mobileNo">Mobile no:</div>
      <div class="allDetails__personalInfo__name5___919494432697">91+9494432697</div>
      <div class="allDetails__personalInfo__name5__image1"></div>
    </div>
    <div class="allDetails__personalInfo__password">
      <div class="allDetails__personalInfo__password__name6">
        <div class="allDetails__personalInfo__password__name6__emailDetails5">
          <img
            src="assets/email-details-icon5.svg"
            alt=""
            class="allDetails__personalInfo__password__name6__emailDetails5__icon5"
          />
        </div>
        <div class="allDetails__personalInfo__password__name6__password2">Password</div>
        <div class="allDetails__personalInfo__password__name6__enterEmail4">
          <div class="allDetails__personalInfo__password__name6__enterEmail4___12345678910K">12345678910K$</div>
        </div>
        <cl-eye-animation-property-1-group></cl-eye-animation-property-1-group>
      </div>
      <div class="allDetails__personalInfo__password__indicator">
        <div class="allDetails__personalInfo__password__indicator__rectangle14"></div>
        <div class="allDetails__personalInfo__password__indicator__rectangle15"></div>
        <div class="allDetails__personalInfo__password__indicator__rectangle16"></div>
      </div>
      <div class="allDetails__personalInfo__password__yourPasswordIsVeryStrong">Your password is very strong</div>
    </div>
    <div class="allDetails__personalInfo__confrimPassword">
      <div class="allDetails__personalInfo__confrimPassword__name7">
        <div class="allDetails__personalInfo__confrimPassword__name7__emailDetails6">
          <img
            src="assets/email-details-icon6.svg"
            alt=""
            class="allDetails__personalInfo__confrimPassword__name7__emailDetails6__icon6"
          />
        </div>
        <div class="allDetails__personalInfo__confrimPassword__name7__confirmPassword">Confirm password</div>
        <div class="allDetails__personalInfo__confrimPassword__name7__enterEmail5">
          <div class="allDetails__personalInfo__confrimPassword__name7__enterEmail5__unnamed">*************</div>
        </div>
        <cl-eye-animation-property-1-frame></cl-eye-animation-property-1-frame>
      </div>
      <div class="allDetails__personalInfo__confrimPassword__indicator2">
        <div class="allDetails__personalInfo__confrimPassword__indicator2__rectangle142"></div>
        <div class="allDetails__personalInfo__confrimPassword__indicator2__rectangle152"></div>
        <div class="allDetails__personalInfo__confrimPassword__indicator2__rectangle162"></div>
      </div>
      <div class="allDetails__personalInfo__confrimPassword__yourPasswordIsVeryStrong2">
        Your password is very strong
      </div>
    </div>
  </div>
</div>
<div class="talentvivid1"></div>
<div class="loginBar">
  <div class="loginBar__alreadyHaveAnAccountSignIn">
    <p class="loginBar__alreadyHaveAnAccountSignIn__labelWrapper4">
      <span class="loginBar__alreadyHaveAnAccountSignIn__labelWrapper4__label8">Already have an account?</span>
      <span class="loginBar__alreadyHaveAnAccountSignIn__labelWrapper4__label9">Sign In</span>
    </p>
  </div>
  <div class="loginBar__line4"><img src="assets/line-4-icon.svg" alt="" class="loginBar__line4__icon7" /></div>
</div>
<div class="orApps">
  <div class="orApps__orBar">
    <div class="orApps__orBar__line2"></div>
    <div class="orApps__orBar__orSignUpWith">Or sign up with</div>
    <div class="orApps__orBar__line3"></div>
  </div>
  <div class="orApps___3rdPartyLogin">
    <div class="orApps___3rdPartyLogin__google">
      <div class="orApps___3rdPartyLogin__google__ellipse2">
        <img src="assets/ellipse-2-icon.svg" alt="" class="orApps___3rdPartyLogin__google__ellipse2__icon8" />
      </div>
      <cl-hover-appshover-hover-1></cl-hover-appshover-hover-1>
      <div class="orApps___3rdPartyLogin__google__googleBar">
        <img src="assets/google-bar-icon.svg" alt="" class="orApps___3rdPartyLogin__google__googleBar__icon9" />
      </div>
    </div>
    <div class="orApps___3rdPartyLogin__facebook">
      <div class="orApps___3rdPartyLogin__facebook__ellipse22">
        <img src="assets/ellipse-2-icon2.svg" alt="" class="orApps___3rdPartyLogin__facebook__ellipse22__icon10" />
      </div>
      <cl-hover-appshover-hover-1></cl-hover-appshover-hover-1>
      <div class="orApps___3rdPartyLogin__facebook__facebookBar">
        <div class="orApps___3rdPartyLogin__facebook__facebookBar__facebookGroup">
          <img
            src="assets/facebook-group-icon.svg"
            alt=""
            class="orApps___3rdPartyLogin__facebook__facebookBar__facebookGroup__icon11"
          />
        </div>
      </div>
    </div>
    <div class="orApps___3rdPartyLogin__apple">
      <div class="orApps___3rdPartyLogin__apple__ellipse23">
        <img src="assets/ellipse-2-icon3.svg" alt="" class="orApps___3rdPartyLogin__apple__ellipse23__icon12" />
      </div>
      <cl-hover-appshover-hover-1></cl-hover-appshover-hover-1>
      <div class="orApps___3rdPartyLogin__apple__appleBar">
        <div class="orApps___3rdPartyLogin__apple__appleBar__apple2">
          <img src="assets/apple-icon.svg" alt="" class="orApps___3rdPartyLogin__apple__appleBar__apple2__icon13" />
        </div>
      </div>
    </div>
  </div>
</div>
